nav{
    
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}
