nav{
    
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}
.hero{
    width: 100%;
    height: 70 vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: bisque;
}
.footer{
    width: 100%;
    height: 15vh;
    font-size: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
